body { margin:50px 0px; padding:0px; text-align:center;}
#Content {
	width:600px;
	margin:0px auto;
	text-align:left;
	padding:15px;
	}
#playArea {
	background:url('images/blackjack-table.png') no-repeat;
	width:496px;
	height:246px;
	position:relative;
	left:50px;
}
.hitMe-button {
	background: none repeat scroll 0 0 red;
    cursor: pointer;
	height: 40px;
	left: 7px;
	position: relative;
	top: 160px;
	width: 26px;
	border: none;
}
.hitMe-button:hover {background:blue}
h1, p, li, ul, ol {font-family:Arial;color:#d3d3d3;}

footer { 
	margin-top: 10px;
	width: 100%;
	font-family:arial;
	color:grey;
 }